.header-navbar {
  background-color: var(--color-white);
  height: 10vh;
}

.title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--color-grey-dark-3);
  cursor: pointer;
  animation: fadeIn ease-in 1s;
  &:hover {
    color: var(--color-dark-orange);
    & > .color-text {
      color: var(--color-grey-dark-3);
    }
  }
}

.color-text {
  color: var(--color-dark-orange);
}

.button-list {
  list-style-type: none;
}

.list-button {
  color: var(--color-grey-dark-3);
  margin: 2rem;
  font-weight: bold;
  animation: fadeIn ease-in 1s;
  cursor: pointer;
  &:hover {
    color: var(--color-dark-orange);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
